[submodule "conky"]
	path = conky
	url = https://github.com/wangjiezhe/conky.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "TeXmacs"]
	path = TeXmacs
	url = https://github.com/wangjiezhe/dotTeXmacs.git
[submodule "awesome"]
	path = awesome
	url = https://github.com/wangjiezhe/awesome.git
